@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  @apply min-h-screen antialiased;
}
@media (min-width: 640px) {
  body {
    padding: 1rem;
  }
}

@media (min-width: 768px) {
  body {
    padding: 1.5rem;
  }
}

@media (min-width: 1024px) {
  body {
    padding: 2rem;
  }
}

@media (min-width: 1280px) {
  body {
    padding: 2.5rem;
  }
}

* {
  box-sizing: border-box;
}

/* select custom */
.group[data-selected="true"]
  .group-data-\[selected\=true\]\:after\:opacity-100::after {
  background-color: #ff644b !important;
}

/* image uploader */
.delete-icon-container {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.grid-container {
  max-width: calc(7 * 130px + 6 * 8px);
}
